<% content_for :map do %>
<%= render 'layouts/mapsheader' %>
<script>
	var longs = [<% @establishments.each do |e|%><%= e.long %>,<% end %>];	
	var lats = [<% @establishments.each do |e|%><%= e.lat %>,<% end %>];
	for(i = 0; i < <%= @establishments.count %>; i++)
	{
		var posi = new google.maps.LatLng(longs[i], lats[i]);
		var marker = new google.maps.Marker({
		    map:map,
		    draggable:true,
		    animation: google.maps.Animation.DROP,
		    position: posi
		  });
	}
</script>
<% end %>
<div style="width:500px; float:right; margin-left:20px; ">
	<div class="stripe" style="padding:5px">
		<%= gravatar_image_tag @user.email, :class => 'gravatar', :gravatar => { :size => 65 } %><h1 style="float:left; margin-left:15px; margin-top:14px; padding:10px; background:white"><%= @user.username %></h1>
		<div style="clear:both"></div>
	</div>
	<div style="padding-left:100px; padding-top:5px">
		<p><strong>Name: </strong><%= @user.name %><br />
		<strong>Email: </strong><%= @user.email %></p>
	</div>
</div>
<div class="grey-box" style="width:380px; float:right">
	<div class="inner">
		<h1>Profile</h1> 	
		<p>
			<strong>Profiles</strong> show you lots of useless information. No really!
		</p>
		<% unless @user.establishments.empty? %>
		<div id="map_canvas" style="width:340px; height:300px"></div>
	  	<div id="info"></div>
		<table class="establishments" summary="User establishments"> <%= render @establishments %>
		</table>
		<% end %>
	</div>
</div>
<div style="clear:both" />