<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%= csrf_meta_tags %>
	<%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag "application" %>
</head>
<body>
	<div class="flashbar">
		<a id="example">Hey</a>	
		<% flash.each do |key, value| %>
			<script>
				var me = $("#example").modal({
				    "content": '<div class="flash <%= key %>"><%= value %></div>',
				    "width": "500px",
				    "height": 350,
				    "cache": false,
				    "fx": false
				});
				me.show();
				//$('#flash_1').delay(1800).slideUp(400)
			</script>
		<% end %>
	</div>
	<%= render 'layouts/header' %>
	<div class="container"> 
		<section class="content_box">
			<%= yield %>
		</section>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>	
</body>
</html>
